﻿
@{
    ViewBag.Title = "IndexTop5CategoryParMois";
}

<h2>@ProjetAsp.Ressources.Views.Statistique.TopCatMonth</h2>
@foreach (var item in ViewBag.liste)
{
    <tr>
        <td>
            @item.name
        </td>
        
    </tr>
}

