﻿@model IEnumerable<ProjetAsp.Models.ApplicationUser>

@{
    ViewBag.Title = "IndexTop5UserObjetParSemaine";
}

<h2>@ProjetAsp.Ressources.Views.Statistique.TopUserObjWeek</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appreciation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appreciation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
    </tr>
}

</table>
