﻿
@{
    ViewBag.Title = "IndexTop5CategoryParSemaine";
}

<h2>@ProjetAsp.Ressources.Views.Statistique.TopCatWeek</h2>
@foreach (var item in ViewBag.liste)
{
    <tr>
        <td>
            @item.name
        </td>

    </tr>
}
