﻿@model ProjetAsp.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>@ProjetAsp.Ressources.Views.Categorie.Delete</h2>

<h3>@ProjetAsp.Ressources.Views.Categorie.ConfirmDelete</h3>
<div>
    <h4>@ProjetAsp.Ressources.Views.Categorie.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(@ProjetAsp.Ressources.Views.Categorie.Back, "Index")
        </div>
    }
</div>
