﻿@model ProjetAsp.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>@ProjetAsp.Ressources.Views.Categorie.Details</h2>

<div>
    <h4>@ProjetAsp.Ressources.Views.Categorie.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@ProjetAsp.Ressources.Views.Categorie.Edit, "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink(@ProjetAsp.Ressources.Views.Categorie.Back, "Index")
</p>
