﻿@model IEnumerable<ProjetAsp.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>@ProjetAsp.Ressources.Views.Categorie.Title</h2>

<p>
    @Html.ActionLink(@ProjetAsp.Ressources.Views.Categorie.CreatNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(ProjetAsp.Ressources.Views.Categorie.Edit, "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink(ProjetAsp.Ressources.Views.Categorie.Details, "Details", new { id=item.CategoryID }) |
            @Html.ActionLink(ProjetAsp.Ressources.Views.Categorie.Delete, "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
