﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Application Maximemes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ProjetAsp.Ressources.Views.Item.Emprunter + " Maximemes", "Index", "Items", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Trade.Title, "Index", "Trades")</li>
                    <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Item.Title, "Index", "Items")</li>
                    <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Categorie.Title, "Index", "Categories")</li>
                    <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Categorie.Title, "Index", "Categories")</li>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ProjetAsp.Ressources.Views.Statistique.Statistic<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Statistique.TopCatMonth, "IndexTop5CategoryParMois", "Statistique")</li>
                            <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Statistique.TopCatWeek, "IndexTop5CategoryParSemaine", "Statistique")</li>
                            <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Statistique.TopUerObjMonth, "IndexTop5UserObjetParMois", "Statistique")</li>
                            <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Statistique.TopUserObjWeek, "IndexTop5UserObjetParSemaine", "Statistique")</li>  
                            <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Statistique.TopUserApprMonth, "IndexTop5UserAppreciationParMois", "Statistique")</li>
                            <li>@Html.ActionLink(ProjetAsp.Ressources.Views.Statistique.TopUserApprWeek, "IndexTop5UserAppreciationParSemaine", "Statistique")</li>
                        </ul>
                    </li>
}

                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ProjetAsp.Ressources.Views.Home.Language<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("FR", "CultureFR", "Items", new { returnUrl = this.Request.RawUrl }, null)</li>
                            <li>@Html.ActionLink("EN", "CultureEN", "Items", new { returnUrl = this.Request.RawUrl }, null)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Equipe Maximemes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
