﻿@model ProjetAsp.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>@ProjetAsp.Ressources.Views.Item.Details</h2>

<div>
    <h4>@ProjetAsp.Ressources.Views.Item.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ProjetAsp.Ressources.Views.Item.Edit, "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink(ProjetAsp.Ressources.Views.Item.Back, "Index")
</p>
