﻿@model IEnumerable<ProjetAsp.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>@ProjetAsp.Ressources.Views.Item.Title</h2>

<p>
    @Html.ActionLink(ProjetAsp.Ressources.Views.Item.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        
        <td>
            
            @Html.ActionLink(ProjetAsp.Ressources.Views.Item.Edit, "Edit", new { id=item.ItemID }) |
            @Html.ActionLink(ProjetAsp.Ressources.Views.Item.Delete, "Delete", new { id=item.ItemID })
            
        </td>
    }
        <td>
            @Html.ActionLink(ProjetAsp.Ressources.Views.Item.Emprunter, "Emprunter", new { id = item.ItemID})
        </td>
    </tr>
}

</table>
