﻿@model ProjetAsp.Models.Trade

@{
    ViewBag.Title = "Details";
}

<h2>@ProjetAsp.Ressources.Views.Trade.Details</h2>

<div>
    <h4>@ProjetAsp.Ressources.Views.Trade.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ProjetAsp.Ressources.Views.Trade.Edit, "Edit", new { id = Model.TradeID }) |
    @Html.ActionLink(ProjetAsp.Ressources.Views.Trade.BackTo, "Index")
</p>
