﻿@model IEnumerable<ProjetAsp.Models.Trade>

@{
    ViewBag.Title = "Index";
}

<h2>@ProjetAsp.Ressources.Views.Trade.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink(ProjetAsp.Ressources.Views.Trade.Edit, "Edit", new { id=item.TradeID }) |
            @Html.ActionLink(ProjetAsp.Ressources.Views.Trade.Details, "Details", new { id=item.TradeID }) |
            @Html.ActionLink(ProjetAsp.Ressources.Views.Trade.Back, "Back", new { id=item.TradeID })
        </td>
    </tr>
}

</table>
